body {
    margin: 0;
    padding: 0;
  }
  
  body .container {
    width: 500px;
    height: 505px;
    margin-top: 100px;
    margin-bottom: 200px;
  }
  
  #red {
    border: solid black;
    border-width: 0px 5.5px 5.5px 0px;
    min-height: 260px;
    background: rgb(220, 40, 26);
  }
  
  #white-1 {
    border: solid black;
    border-width: 0px 0px 5.5px 5.5px;
    min-height: 260px;
    background: rgb(255, 255, 255);
  }
  
  #white-2 {
    border: solid black;
    border-width: 5.5px 5.5px 0px 0px;
    min-height: 245px;
    background: rgb(255, 255, 255);
  }
  
  #white-3 {
    border: solid black;
    border-width: 5.5px 5.5px 5.5px 5.5px;
    min-height: 215px;
    background: rgb(255, 255, 255);
  }
  
  #yellow {
    border: solid black;
    border-width: 5.5px 0px 5.5px 5.5px;
    min-height: 30px;
    background: rgb(242, 224, 122);
  }
  
  #black {
    border: solid black;
    border-width: 5.5px 5.5px 5.5px 5.5px;
    min-height: 30px;
    background: rgb(31, 31, 31);
  }
  
  #blue {
    border: solid black;
    border-width: 5.5px 0px 5.5px 5.5px;
    min-height: 100px;
    background: rgb(0, 93, 159);
  }
  
  #white-4 {
    border: solid black;
    border-width: 5.5px 0px 0px 5.5px;
    min-height: 145px;
    background: rgb(255, 255, 255);
  }
  
  #a {
    border: solid black;
    border-width: 0px 7.5px 15px 0px;
    min-height: 165px;
    background: rgb(255, 255, 255);
  }
  
  #b {
    border: solid black;
    border-width: 15px 7.5px 7.5px 0px;
    min-height: 190px;
    background: rgb(255, 255, 255);
  }
  
  #c {
    border: solid black;
    border-width: 0px 0px 0px 7.5px;
    min-height: 165px;
    background: rgb(220, 40, 26);
  }

  #c2 {
    border: solid black;
    border-width: 0px 0px 7.5px 7.5px;
    min-height: 190px;
    background: rgb(220, 40, 26);
  }
  
  #d {
    border: solid black;
    border-width: 7.5px 7.5px 0px 0px;
    min-height: 75px;
    background: rgb(0, 93, 159);
  }

  #d2 {
    border: solid black;
    border-width: 0px 7.5px 0px 0px;
    min-height: 75px;
    background: rgb(0, 93, 159);
  }
  
  #e {
    border: solid black;
    border-width: 7.5px 7.5px 0px 7.5px;
    min-height: 75px;
    background: rgb(255, 255, 255);
  }

  #e2 {
    border: solid black;
    border-width: 0px 7.5px 0px 7.5px;
    min-height: 75px;
    background: rgb(255, 255, 255);
  }
  
  #f {
    border: solid black;
    border-width: 7.5px 0px 12.5px 7.5px;
    min-height: 75px;
    background: rgb(255, 255, 255);
  }
  
  #g {
    border: solid black;
    border-width: 12.5px 0px 0px 7.5px;
    min-height: 75px;
    background: rgb(242, 224, 122);
  }